@import 'helpers/base';

.property {
    background-color: $white;
    box-shadow: 0 0 10px rgba(67, 28, 93, .5);
    margin-bottom: 2rem;
    display: block;

    .property__price {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $red;
        font-weight: bold;
        font-size: $fontSizeMain;
    }
    .property__image {
        width: 100%;
        min-height: 200px;
        vertical-align: top;
    }
    .property__details {
        width: calc(100% - 2rem);
        padding: 1rem 1rem 0 1rem;
        vertical-align: top;
    }
    .property__description {
        font-size: $fontSizeSmall;
    }

    .property__agent {
        width: calc(100% - 2rem);
        background-color: $darkPurple;
        color: $white;
        padding: 1rem;
        margin-top: 1rem;

        .property__agent-image,
        .property__agent-name,
        .property__agent-address,
        .property__agent-phone {
            @include col(0, 12, 12, true);
        }
    }
}

.search {
    .search__input {
        @include col(0, 8, 12, true);
    }
    .search__button {
        @include col(0, 4, 12, true);
    }
}

body {
    padding: 1rem;

    .header,
    .introduction {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .property {
        margin-bottom: 3rem;

        .property__image {
            width: calc(50% - 0.75rem);
            margin-right: 0.75rem;
        }
        .property__details {
            width: calc(50% - 1.5rem);
            padding: 0.75rem 0.75rem 0 0.75rem;
            display: inline-block;
        }
        .property__agent {
            width: calc(100% - 2rem);
            margin-top: 1.5rem;

            .property__agent-logo {
                width: 100%;
            }
            .property__agent-image {
                @include col(0, 2, 12);
            }
            .property__agent-name,
            .property__agent-address {
                @include col(0.75, 4, 12);
            }
            .property__agent-phone {
                @include col(0.75, 2, 12);
            }
        }
    }

    body {
        padding: 1.5rem;

        .header,
        .introduction {
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .property {
        position: relative;
        margin-bottom: 4rem;

        .property__image {
            width: calc(33.33% - 1rem);
            margin-right: 1rem;
        }
        .property__details {
            width: calc(33.33% - 2rem);
            padding: 1rem;
        }
        .property__agent {
            width: calc(33.33% - 2rem);
            background-color: $darkPurple;
            color: $white;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin-top: 0;

            .property__agent-logo {
                width: auto;
            }

            .property__agent-image,
            .property__agent-name,
            .property__agent-address,
            .property__agent-phone {
                @include col(0, 12, 12);
            }
        }
    }

    body {
        padding: 2rem;

        .header,
        .introduction {
            margin-bottom: 2rem;
        }
    }
}