/**
 * Used to create grid columns
 */
@mixin col($gutter, $col, $max-cols, $topAlign: false) {
    $val: ((100% / $max-cols) * $col);

    width: if($gutter > 0, calc(#{$val} - #{$gutter * 2}rem), #{$val});

    @if $gutter > 0 {
        margin-left: #{$gutter}rem;
        margin-right: #{$gutter}rem;
    }

    @if $topAlign {
        display: inline-block;
        vertical-align: top;
    }
}

/**
 * Adding font-smoothing for browsers that do support it
 */
@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}